In [17]:
import sklearn

In [2]:
from sklearn import datasets

In [3]:
iris=datasets.load_iris()

In [5]:
x=iris.data

In [6]:
y=iris.target

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x.shape

(150, 4)

In [10]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2)

In [11]:
x_train.shape

(120, 4)

In [12]:
y_train.shape

(120,)

In [13]:
x_test.shape

(30, 4)

In [14]:
y_test.shape

(30,)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
model=DecisionTreeClassifier()

In [21]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
predictions=model.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [25]:
print(accuracy_score(y_test,predictions))
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

0.9333333333333333
[[12  0  0]
 [ 0  9  0]
 [ 0  2  7]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.82      1.00      0.90         9
           2       1.00      0.78      0.88         9

    accuracy                           0.93        30
   macro avg       0.94      0.93      0.92        30
weighted avg       0.95      0.93      0.93        30

#### Try

In [27]:
import pandas as pd

In [28]:
data= pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [29]:
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [37]:
target=pd.DataFrame(data=iris.target)

In [33]:
target.head(150)

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [39]:
x_train,x_test,y_train,y_test= train_test_split(data,target, test_size=0.2)

In [40]:
x_train.shape

(120, 4)

In [41]:
y_train.shape

(120, 1)

In [42]:
x_test.shape

(30, 4)

In [43]:
y_test.shape

(30, 1)

In [51]:
from sklearn.naive_bayes import GaussianNB

In [52]:
model=GaussianNB()

In [53]:
model.fit(x_train,y_train)

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [54]:
predict=model.predict(x_test)

In [55]:
predict

array([1, 1, 0, 1, 2, 1, 1, 2, 1, 1, 0, 2, 2, 2, 2, 0, 2, 1, 1, 2, 0, 1,
       1, 1, 2, 0, 1, 1, 0, 0])

In [58]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [57]:
print(accuracy_score(y_test,predict))

0.9333333333333333

In [59]:
print(confusion_matrix(y_test,predict))

[[ 7  0  0]
 [ 0 13  1]
 [ 0  1  8]]

In [60]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       0.93      0.93      0.93        14
           2       0.89      0.89      0.89         9

    accuracy                           0.93        30
   macro avg       0.94      0.94      0.94        30
weighted avg       0.93      0.93      0.93        30